<!DOCTYPE html>
<html>
    <head>
        <title>Admin Dashboard</title>
    </head>
    <body>
        <h1>Admin Dashboard</h1>
        <a href="/admin/add_train">Add Train</a><br><br>
        <a href="/admin/trains">Manage Train</a><br><br>

        <h2>System Statistics</h2>
        <p>Total Trains: {{ total_trains }}</p><br><br>
        <p>Total Bookings: {{ total_bookings }}</p><br><br>
        <p>Total Users: {{ total_users }}</p><br><br>

        <a href="/logout">Logout</a><br><br>
    </body>
</html>