{% extends 'base.html' %} {% block content %}

<div class="row">
  <div class="col-md-7">
    <div class="booking-card">
      <h2>Train Details</h2>

      <hr />

      <h4>{{ train.train_name }}</h4>

      <p>
        <strong>Route:</strong>
        {{ train.source }} → {{ train.destination }}
      </p>

      <p>
        <strong>Departure:</strong>
        {{ train.departure_time }}
      </p>

      <p>
        <strong>Arrival:</strong>
        {{ train.arrival_time }}
      </p>

      <p>
        <strong>Available Seats:</strong>
        {{ train.available_seats }}
      </p>
    </div>
  </div>

  <div class="col-md-5">
    <div class="booking-card">
      <h2>Passenger Details</h2>

      <hr />

      <form method="POST">
        <div class="mb-3">
          <label>Passenger Name</label>

          <input
            type="text"
            name="passenger_name"
            class="form-control"
            required />
        </div>

        <div class="mb-3">
          <label>Age</label>

          <input type="number" name="age" class="form-control" required />
        </div>

        <div class="mb-3">
          <label>Gender</label>

          <select name="gender" class="form-select">
            <option>Male</option>
            <option>Female</option>
            <option>Other</option>
          </select>
        </div>

        <div class="mb-3">
          <label>Seats Required</label>

          <input
            type="number"
            name="seats"
            class="form-control"
            min="1"
            required />
        </div>

        <button class="btn btn-success w-100">Confirm Booking</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
