{% extends 'base.html' %}

{% block content %}

<h1 class="mb-4">Welcome {{ name }}</h1>

<div class="row g-4">

    <div class="col-md-3">
        <div class="card dashboard-card p-4">
            <h3>🚆 Search Trains</h3>
            <p>Find available trains.</p>
            <a href="/search" class="btn btn-primary">
                Open
            </a>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card dashboard-card p-4">
            <h3>🎫 My Bookings</h3>
            <p>Manage booked tickets.</p>
            <a href="/my_bookings" class="btn btn-success">
                Open
            </a>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card dashboard-card p-4 text-center">
            <h1>{{ booking_count }}</h1>
            <h5>Total Bookings</h5>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card dashboard-card p-4">
            <h3>👤 Profile</h3>
            <p>Manage account information.</p>
            <a href="/profile" class="btn btn-info">
                Open
            </a>
        </div>
    </div>

</div>

<div class="row g-4 mt-2">

    <div class="col-md-3">
        <div class="card dashboard-card p-4">
            <h3>📄 Tickets</h3>
            <p>Download ticket PDFs.</p>
            <a href="/my_bookings" class="btn btn-warning">
                View
            </a>
        </div>
    </div>

</div>

{% endblock %}