{% extends 'base.html' %}
{% block content %}
<h1 class="mb-4">
    Welcome {{ name }}
</h1>
<div class="row">
    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-body">
                <h4>Search Trains</h4>
                <p>
                    Find available trains.
                </p>
                <a href="/search"
                   class="btn btn-primary">
                    Open
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-body">
                <h4>My Bookings</h4>
                <p>
                    View booked tickets.
                </p>
                <a href="/my_bookings"class="btn btn-success">
                    Open
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-body">
                <h4>Logout</h4>
                <p>
                    Sign out from system.
                </p>
                <a href="/logout" class="btn btn-danger">
                    Logout
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}