<!DOCTYPE html>
<html>
    <head>
        <title>Edit Train</title>
    </head>
    <body>
        <h2>Edit Train</h2>
        <form method="POST">
            <label>Train Name:</label>
            <input type="text" name="train_name" value="{{train.train_name}}" required><br><br>
            <label>Source:</label>
            <input type="text" name="source" value="{{train.source}}" required><br><br>
            <label>Destination:</label>
            <input type="text" name="destination" value="{{train.destination}}" required><br><br>
            <label>Departure Time:</label>
            <input type="text" name="departure_time" value="{{train.departure_time}}" required><br><br>
            <label>Arrival Time:</label>
            <input type="text" name="arrival_time" value="{{train.arrival_time}}" required><br><br>
            <button type="submit">Update Train</button>
        </form>
    </body>
</html>