{% extends 'base.html' %} {% block content %}

<div class="search-card">
  <h2 class="mb-4">Search Trains</h2>

  <form method="POST">
    <div class="row">
      <div class="col-md-4">
        <label>Source</label>

        <input
          type="text"
          name="source"
          class="form-control"
          placeholder="Hyderabad"
          required />
      </div>

      <div class="col-md-4">
        <label>Destination</label>

        <input
          type="text"
          name="destination"
          class="form-control"
          placeholder="Visakhapatnam"
          required />
      </div>

      <div class="col-md-3">
        <label>Journey Date</label>

        <input type="date" name="journey_date" class="form-control" required />
      </div>

      <div class="col-md-1 d-flex align-items-end">
        <button class="btn btn-primary w-100">Search</button>
      </div>
    </div>
  </form>
</div>

{% endblock %}
